html {
    overflow-y:scroll;
    font-size: 16px; /* GENIUS IDEA!!! Makes all text scale to width of the page */
}
* {
    box-sizing: border-box;
}
body {
    background-color:white;
    margin: 0; 
}

/* Fonts:
Out: Corben, Averia Serif Libre, Libre Barcode 39 (Did not have text under)
Headers: Overpass DOES NOT SEEM TO HAVE LOADED
P: Quicksand
Links/Deco: Montserrat
*/
h1, h2, h3, h4, h5 {
    font-family: Overpass, serif;
}
h1 {
    font-size: 7vw; /* ONLY to be used on the mobile version */
}
p {
    font-family: Quicksand, Arial, sans-serif;
}
/* ORGANIZATIONAL STRUCTURES: ROW, CONTENTS, CONTENT DIV 
   Variablized web design*/
.row { /* THIS IS THE DEFINITION FOR ALL LATER DECLARED ROWS */
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents {
    margin: 5em;
    width: 85%;
    min-width: 85%; /*SOLUTION to big-zoom problem? */
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    /* border: solid orange; */
} 
.contents div {
    width: 30%;
    padding: 0.5em 2em;
    /* border: solid black; */
}

/* ~~~~~~~~~~~
Header Section
~~~~~~~~~~~ */
#imgback {
    height: 100vh; 
    width: 100%;
    background-image: url(https://media1.tenor.com/images/b81c8e7c84d6dcfa5d23fa51c75d7a57/tenor.gif?itemid=11500074);
    background-size: cover;
    background-repeat: no-repeat;
}
#home-head {
    display: flex;
    flex-flow: column;
    margin: auto;
    height: 100%;
    max-width: 1600px;
}
/* 
Main Header Bar
 */

/* Mobile Navigation Bar CSS */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    padding: 0;
}
#mobile-icon {
    height: 2.5em;
    margin: 0.3em;
    /* border: 2px solid black; */
}
.topnav #myLinks {
    display: none;  
}
.topnav a {
    color: whitesmoke;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}
.fa-bars {
    margin-top: 0.3em;
    color: black;
}
.topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    height: 4em;
    right: 0;
    top: 0;
}
.active {
    background-color: white;
    color: white;
}
/* Desktop Navigation Bar CSS */
#navbar { /* Div containing all divs within the top nav bar */
    height: auto;
    display: none; /* Will be changed to flex for the desktop version */
    flex-flow: row wrap;
    max-width: 1600px;
}
header a { /* Defines the stylings for all links in the header bar */
    font-size: 1em;
    font-family: Quicksand, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: white;
}
.desktop a:hover{
    color: #ef5728;
    transition: ease-in-out 370ms;
}
#icon-div {
    width: 27.5%;
    display: flex;
    flex-flow: row wrap;
    align-items: strecth;
}
#icon-wrapper {
    width: auto; 
    margin: 0.5em 5em;
    /* border: solid lightgray; */
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
}
#logo {
    height: 2.5em; /* This height actually drives the height of the whole nav bar */
}
#nav-div {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    align-items: center; /* Makes sure the buttons are centered vertically in the div */
    justify-content: center; /* Makes sure the content is centered horizontally */
}
#nav-div a {
    margin-right: 1em;
    padding: .3em;
    text-align: center;
}
#contact-div {
    width: 27.5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
#contact-div a {
    border: 1px solid white;
    margin-right: 5em;
    padding: .3em;
    text-align: center;
}
#contact-div a:hover {
    background-color: rgba(220,220,220,1);
}
/* 
Page Header Statement
*/
#statement { /* Auto scaled div containing greeting */
    flex-grow : 1;
    color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}
.bigword {
    width: 85%;
    margin-bottom: 10em;
}
.bigword h1 {
    float: left;
    margin: 0;
    font-size: 2.5em;
    line-height: 1.9em;
    color: #f3cb4f;
}
/* ~~~~~~~~~~~
Portrait Section
~~~~~~~~~~~ */

/* SOLVING BIG ZOOM PROBLEM -- rename and objectify these elements later */
#big-zoom {
    width: 100%;
    background-color: #FCF8F3;
}
#big-zoom .contents {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#big-zoom div {
    width: auto;
}
#big-zoom h2 {color: #EF5728;}
#big-zoom p {color: black;}
#obamaimg {
    max-width: 100%;
    max-height: 100%;
    padding: 0 10%;
    margin: auto;
    /* border: dotted aquamarine; */
}

/* IDOIT Section */
#idoit .contents {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#idoit h1 {
    text-align: center;
    margin: 10px auto;
    color: #EF5728;
}
#idoit *{
    color: #5e727c;
}

/* ~~~~~~~~~~~
Footer Section
~~~~~~~~~~~ */
footer {
    width: 100%;
    background-color: #071c30;
}
footer .contents {
    flex-flow: column wrap;
    margin-bottom: 25px;
    
}
footer *{
    color: whitesmoke;
    margin: 0em auto 40px;
}
footer h1 {
    text-align: center;
}
#foot-div {
    border: 1px solid #f3cb4f; 
    max-width: 80%;
    width: auto;
    padding: 0.7em 0em;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center; /* Makes sure the buttons are centered vertically in the div */
    justify-content: center; /* Makes sure the content is centered horizontally */
}
#foot-div>a {
    margin: 1em;
    padding: .3em;
    text-align: center;
    font-size: 1em;
    font-family: Quicksand, sans-serif; /* Arial looks good */
    font-weight: normal;
    text-decoration: none;
}

#soc-intro {
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 0.9em;
    font-weight: thin;
    font-family: Overpass, sans-serif;
}
#socials {
    max-width: 80%;
    /* Would a max-height property be useful to control the size of the icons? */
    width: auto;
    padding: 0;
    margin: 0em auto 10px;
    border: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* How can I get these links to open in a new tab? */
#socials a {
    height: auto;
    margin: 0 0.5em;
    margin-bottom: 0;
    padding: .3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

footer h5 {
    color:rgb(119, 107, 107); 
    margin: 0 auto; 
    font-family: Overpass;
    font-size: 0.5em;
}
footer h5 a{
    color:rgb(119, 107, 107); 
    font-family: Overpass;
}
footer a:hover {
    color: #ef5728;
    transition: ease-in-out 370ms;
}


/* MOBILE MEDIA QUERY */
/* Search what is an appropriate max width for this,
   why does it not appear to change on the chrome simulation?
   how many selective queries are needed to optimize the site? */
@media only screen and (min-width: 600px) {
    /*New Header Nav Bar */
    h1 {
        font-size: 3.5em;
    }
    .mobile {
        display: none;
    }
    #navbar {
        display: flex;
    }
    /* Header Section */
    #statement {
        align-items: center;
    }
    .bigword {
        width: 85%;
        padding: 0;
        margin: 1em auto 0;
    }
    .bigword h1 {
        float: left;
        margin: 0;
        font-size: 5vw;
        line-height: 1.2em;
    }

    /* Portrait Section */
    #big-zoom .contents {
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
    }
    #big-zoom .contents div {
        width: 40%;
        padding: 1em;
    }
}
        